
/*  background, nav bar + title style  */
body {
    background-image: linear-gradient(rgb(163, 137, 211),rgb(123, 71, 172),rgb(165, 124, 218));
    background-image: url("https://preview.pixlr.com/images/800wm/1048/1/1048102909.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;;
}
a:link,a:visited {
   color: rgb(255, 255, 255);
   font-size: 30px;
}
a.bottom{
    position: fixed;
    text-align: center;
    bottom: 0%;
    color: white;
    background-color: rgb(67, 65, 78);
    height: 55px;
    width: 100%;
    border: none;
    font-size: 30px;
    border-top :2px solid black;
}
a.bottom2{
    position: fixed;
    text-align: center;
    bottom: 55px;
    color: white;
    background-color: rgb(67, 65, 78);
    height: 55px;
    width: 100%;
    border: none;
    font-size: 30px;
    border-top :2px solid black;
}
.ADD{
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 75px;
    width: 80%;
    height: 525px;
    background-color:rgb(255,255,255);
    
}
a.btn{
    font-size: 20px;
    width: 180px;
}
a.guide,a.report,a.setting,a.tac,a.login,a.view{
    display: block;
    margin-left:5%;
    margin-right: 5%;
    background-color: rgb(67, 65, 78);
    font-size: 30px;
    padding: 2px;
    color: white;
    outline: black;
    border: none;
    text-align: center;
    height: 55px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
}


.upload{
    width: 100%;
    text-align: center;
}
a.data{
    position: absolute;
    top: 50%;
    background-color: rgb(67, 65, 78);
    font-size: 30px;
    width: 100%;
    padding: 2px;
    color: white;
    outline: black;
    border: none;
    text-align: center;
    height: 55px;
}
.gov{
    position: absolute;
    width: 100%;
    height: 90% ;
    margin-bottom: 110px;
}

h1 { 
    
    background-color: rgb(40, 47, 57);
    text-align: center;
    color: white;
    margin: 0;
}
/* Button position for Homepaage */
.wrapper {
    text-align: right;
   
}
/* Card style for completed and uncompleted tasks */
.contain{
        background-color:rgb(248, 244, 219);
        margin: auto;
        max-width: 67%;
        margin-top: 100px;
}
.ti{
        text-align: center;
        justify-content: center;
        height: 40px;
        background-color: wheat;
        margin-bottom: 25px;
    }
.unc{
        border-radius: 10px;
        margin: auto;
        margin: 20px;
        margin-bottom: -10px;
        padding: 10px 5px 5px 10px!important;
        align-self: center;
        background-color: rgb(238, 236, 195);
        word-wrap:break-word;
    }
    /* Button style and position for uncompleted tasks */
.right{
        text-align: right;
        margin-top: -40px;
        margin-bottom: -10px;
    }

.labt, .labarea,.labdesc{
    color: white;
}
    /* Create a Task page style */
.ac {
        border-radius: 10px;
        width: 450px;
        margin:0 auto;
        background-color: rgb(67, 65, 78);
        margin-top: 150px;
        text-align: center;
    }
    textarea + label {
        align-self: center;
    }
    label{
      margin-top: 5px;
    }
    .tasks{
        width: 450px;
    }
    .desc{
        margin-top: -10px;
        width: 450px;
    }
    .sub{
      position: relative;
     
    }
    .Submit{
      text-align: center;
      
    }