
/*  background, nav bar + title style  */
body {
    background-image: url('https://images.pexels.com/photos/310452/pexels-photo-310452.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;;
}
a:link,a:visited {
   color: rgb(255, 255, 255);
   font-size: 18px;
}
ul {
    background-color: rgb(67, 65, 78,.5);
    margin: 0;
   
}
h1 { 
    
    background-color: rgba(67,65,78, 0.7);
    text-align: center;
    color: rgb(226, 224, 235);
    margin: 0;
}
/* Button position for Homepaage */
.wrapper {
    text-align: center;
    margin-top: 10%;
}
/* Card style for completed and uncompleted tasks */
.contain{
        background-color:rgb(248, 244, 219);
        margin: auto;
        max-width: 67%;
        margin-top: 100px;
    }
    .ti{
        text-align: center;
        justify-content: center;
        height: 40px;
        background-color: wheat;
        margin-bottom: 25px;
    }
    .unc{
        border-radius: 10px;
        margin: auto;
        margin: 20px;
        margin-bottom: -10px;
        padding: 10px 5px 5px 10px!important;
        align-self: center;
        background-color: rgb(238, 236, 195);
        word-wrap:break-word;
    }
    /* Button style and position for uncompleted tasks */
    .btn-primary{
        background-color: darkgoldenrod!important;
        text-align: right;
    }
    .right{
        text-align: right;
        margin-top: -40px;
        margin-bottom: -10px;
    }


    /* Create a Task page style */
    .ac {
        border-radius: 10px;
        width: 450px;
        margin:0 auto;
        background-color: wheat;
        margin-top: 150px;
        text-align: center;
    }
    textarea + label {
        align-self: center;
    }
    label{
      margin-top: 5px;
    }
    .tasks{
        width: 450px;
    }
    .desc{
        margin-top: -10px;
        width: 450px;
    }
    .sub{
      position: relative;
     
    }
    .Submit{
      text-align: center;
      
    }