{% extends "base.html" %}

<!--Will display completed tasks-->
{% block content %}
<div class="contain">
    <form action="/mark">
    <h2 class = "ti">Completed Tasks</h2>
    {% for item in uctasks %}  <!--Will go through database -->
    {% if item.status == True %}  <!--Will do if statement only if status = True -->
    <div class="unc">
        <p><b>Task : {{item.task}}</b></p>  <!--View completed task,description and time in if-->
        <hr>
        <p> {{item.desc}}</p>
        <hr>
        <p>Time : {{item.time}}</p>
        </p>
    </div>
    {% endif %}
    <br>
        {% endfor %}
    </form>
</div>
{% endblock %}