{% extends "base.html" %}

{% block styles %}

{% endblock %}
<!--Simple 'create a task' button-->
{% block content %}
<div class="wrapper">
    <a href="/Create" class="btn btn-primary btn-lg active" 
    role="button" 
    aria-pressed="true">Create a task
</a>
</div>
{% endblock %}