{% extends "base.html" %}

<!--Will view Uncompleted tasks-->
{% block content %}
<div class="contain">
    
    <h2 class = "ti">Uncompleted Tasks</h2>
    {% for item in uctasks %}       <!--Go through database-->
    {% if item.status == False %}   <!--Will do if statement if status = False-->
    <div class="unc">
        <p><b>Task : {{item.task}}</b></p> <!--shows uncompleted task,description and time created-->
        <hr>
        <p> {{item.desc}}</p>
        <hr>
        <p>Time : {{item.time}}
            <div class = "right">
                <!--Button to mark as complete-->
        <a href="/mark/{{item.id}}" class="btn btn-primary">Mark as Complete</a></div>
        </p>
        </p>
    </div>
    {% endif %}
    {% endfor %}
    <br>
    
</div>
{% endblock %}