{% extends "base.html" %}

<!--2 buttons for admin, cange items stock or delete users-->
{% block content %}
<script
src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">
</script>

<div class="navbarlogo">
    <h1 class = "logo">Logo</h1>
    <nav class="navbar">
  
     <form class="d-flex">
       <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success searchbutton" type="submit">Search</button>
     </form>
     </nav>
     <a href="/Account" class="btn btn-primary btn-lg active signinnav" 
         role="button" 
         aria-pressed="true">Account
     </a>
     <a href="/Basket" class="btn btn-primary btn-lg active signinnav" 
         role="button" 
         aria-pressed="true">Basket
     </a>
     <a href="/logout" class="btn btn-primary btn-lg active signinnav" 
         role="button" 
         aria-pressed="true">logout
     </a>
 </div>
<div class="changepassword">
    <form action="#" method="post" name = "task">
    {{ form.hidden_tag() }}
    <div class = "c"><h1 class = "cpasstitle">Change Password</h1></div>
    <div class ="userdetails">
        <div class = "userdetailsinner">
        {{ form.oldpassword(size= 35,placeholder= 'Username')}}
        <br><br>
        {{ form.newpassword(size = 35,placeholder= 'New Password')}}
        <br><br>
        {{ form.newpassword2(size = 35,placeholder= 'Verify New Password')}}
        <hr>
        <input type="submit" value="Update Password" class="updatepasswordbutton">
        <hr>
        
        </a>
        </div>
    </div>
    </form>
    <br>
    <button class = 'btn-primary hidet' id = 'hidett'>Hide</button>
    <div class="onetranscript" id='onetranscript'>
    {% for item in orders %}  <!--Will go through database -->
    <div >
        <h2>Transcript id : {{item.id}}</h2>
        <table style="width:100%" id="ttable">
            <tr>
              <th>Product Name</th>
              <th>Product Type</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
        {% for x in item.orders %}
            <div >
                    <tr>
                      <td> {{x.itemname}}</td>
                      <td> {{x.itemtype}}</td>
                      <td> {{x.itemprice}}</td>
                      <td> {{x.Quantity}}</td>
                    </tr>
            </div>
        {% endfor %}
    </table> 
        <br>
    {% endfor %}
    </div>
    </div>
    <script>
        $(document).ready(function(){
            $('#hidett').on('click',function(){
                $('#onetranscript').toggle();
            });
        });
    </script>
</div>
{% endblock %}