{% extends "base.html" %}


{% block content %}
<div class="navbarlogo">
  <h1 class = "logo">Logo</h1>
  <nav class="navbar">

   <form class="d-flex">
     <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
     <button class="btn btn-outline-success searchbutton" type="submit">Search</button>
   </form>
   </nav>
   <a href="/Account" class="btn btn-primary btn-lg active signinnav" 
       role="button" 
       aria-pressed="true">Account
   </a>
   <a href="/Basket" class="btn btn-primary btn-lg active signinnav" 
       role="button" 
       aria-pressed="true">Basket
   </a>
   <a href="/logout" class="btn btn-primary btn-lg active signinnav" 
       role="button" 
       aria-pressed="true">logout
   </a>
</div>
<div class="onetranscript">
<table style="width:100%" id="ttable">
  <tr>
    <th>Product Name</th>
    <th>Product Type</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Remove</th>
  </tr>
{% for items in usernow['itemsthisuser'] %}
      <tr>
        <td> {{items.itemname}}</td>
        <td> {{items.itemtype}}</td>
        <td> {{items.itemprice}}</td>
        <td> {{items.Quantity}}</td>
        <td><a href="/removefrombasket/{{items.id}}" class="btn btn-primary removefromb">Remove</a></div></td>
      </tr>
{% endfor %}
</table>
<hr>
    £{{total}}
<hr>
<a href="/bought" class="btn btn-primary">Buy now</a>
</div>
{% endblock %}