{% extends "base.html" %}

{% block styles %}

{% endblock %}
<!--Sign in block-->
{% block content %}
<div class="navbarlogo">
    <a href="/Completed-Tasks"><h1 class = "logo">Logo</h1></a>
    <nav class="navbar">
  
     <form class="d-flex">
       <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success searchbutton" type="submit">Search</button>
     </form>
     </nav>
     <a href="/" class="btn btn-primary btn-lg active signinnav" 
         role="button" 
         aria-pressed="true">Sign in
     </a>
     <a href="/Basket" class="btn btn-primary btn-lg active signinnav" 
         role="button" 
         aria-pressed="true">Basket
     </a>
 </div>
<form action="#" method="post" name = "createtask">
{{ form.hidden_tag() }}
<div class="wrapper">
    <h1 class = "signintitle">S-Clothes</h1>
    <h3 class = "signinsentence">Please log-in or create an account</h3>
    <div class ="userdetails">
        <div class = "userdetailsinner">
        {{ form.username(size= 35,placeholder= 'Username')}}
        <br><br>
        {{ form.password(size = 35,placeholder= 'Password')}}
        <br><br>
        <div class = 'chec1'>
        <input type="checkbox" name="rememberme" class = "checkb"/>
        <div class = 'chec'>
        <p>Remember me</p>
        </div>
        </div>
        <br>
        <input type="submit" value="Sign in" class="addbutton">
        <hr>
        <a href="/Create" class="btn btn-primary btn-lg active create" 
        role="button" 
        aria-pressed="true">Create Account
        </a>
        </div>
    </div>
    <br>
</div>
{% endblock %}