{% extends "base.html" %} <!--Inheritance of base-->

{% block styles %}

{% endblock %}
<!--Task section includes form to post info-->
<!--Create account block-->
{% block content %}

<form action="#" method="post" name = "createtask">
{{ form.hidden_tag() }}
<div class="wrapper">
    <h1 class = "signintitle">Create Account</h1>
    <div class ="userdetails2">
        <div class = "userdetailsinner">
        {{ form.username(size= 35,placeholder= 'Username')}}
        <br><br>
        {{ form.password(size = 35,placeholder= 'Password')}}
        <hr>
        <p class = "Submit">
          <input type="submit" value="Add" class="addbutton"> <!--Submit button to post info-->
        </p>
        </div>
    </div>
    <br>
</div>
{% endblock %}

