{% extends "base.html" %}

<!--Will display completed tasks-->
{% block content %}
<div class="navbarlogo">
   <h1 class = "logo">Logo</h1>
   <nav class="navbar">
 
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success searchbutton" type="submit">Search</button>
    </form>
    </nav>
    <a href="/" class="btn btn-primary btn-lg active signinnav" 
        role="button" 
        aria-pressed="true">Sign in
    </a>
    <a href="/Basket" class="btn btn-primary btn-lg active signinnav" 
        role="button" 
        aria-pressed="true">Basket
    </a>
</div>
<div class="grid-container">
    {% for item in allitems %}  <!--Will go through database -->
        <div class="grid-item">
            <div class = itemsingrid>
                <img src="https://media.gettyimages.com/photos/gold-watch-picture-id172380146?s=2048x2048" alt="alternatetext" width ="80%" height = "360"> 
                <p></p>
                <p><b>Name : {{item.itemname}}</b></p>  <!--View items and their details -->
                <hr>
                <p> Type : {{item.itemtype}}</p>
                <hr>
                <p>Price : £{{'%0.2f'| format(item.itemprice|float)}}</p>
                </p><hr>
                <a href=# id='process_input'><a href="/addtobasket/{{item.id}}" class="btn btn-primary addbbutton">Add </a></a>
                <p></p>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}