{% extends "base.html" %}

<!--Will display completed tasks-->
{% block content %}
<div class="navbarlogo">
    <h1 class = "logo">Logo</h1>
    <nav class="navbar">
  
     <form class="d-flex">
       <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success searchbutton" type="submit">Search</button>
     </form>
     </nav>
     <a href="/Account" class="btn btn-primary btn-lg active signinnav" 
         role="button" 
         aria-pressed="true">Account
     </a>
     <a href="/Basket" class="btn btn-primary btn-lg active signinnav" 
         role="button" 
         aria-pressed="true">Basket
     </a>
     <a href="/logout" class="btn btn-primary btn-lg active signinnav" 
         role="button" 
         aria-pressed="true">logout
     </a>
 </div>
<div class="formadditems">
    <form action="#" method="post" name = "createtask">
        {{ form.hidden_tag() }}
        <div class = "userdetailsinner">
            {{ form.itemname(size= 35,placeholder= 'Item name')}}
            <br><br>
            {{ form.itemtype(size = 35,placeholder= 'Item type')}}
            <br><br>
            {{ form.itemprice(size = 35,placeholder= 'Item price')}}
            <br><br>
            <input type="submit" value="Add item" class="addbutton">
</div>
<br>
<div class="contain">
    <form action="/mark">
    <h2 class = "ti">All Items added</h2>
    {% for item in allitems %}  <!--Will go through database -->
    
    <div class="unc">
        <p><b>Name : {{item.itemname}}</b></p>  <!--View items and their details -->
        <hr>
        <p> Type : {{item.itemtype}}</p>
        <hr>
        <p>Price : £{{'%0.2f'| format(item.itemprice|float)}}</p>
        </p>
        <a href="/deletestock/{{item.id}}" class="deletestock">Delete
        <br>
    </div>
    <br>
        {% endfor %}
    </form>
</div>
{% endblock %}