{% extends "base.html" %} <!--Inheritance of base-->
<!--Embed gov website for guidelines-->
{% block content %}

<form action="#" method="post" name = "createtask">
    {{ form.hidden_tag() }}
    <div class="ac">
        <p class = "ctask">
          <label class = "labt"><b>Enter Street Name and House No.</b></label>
          {{ form.Task(size = 46,value= '')}} 
        </p>
        <p class = "area">
            <label class = "labarea"><b>Enter Postcode</b></label>
            {{ form.Area(size = 46,value= '')}} 
          </p>
    <p class = "desc">
      <label class = "labdesc"><b>Enter Description</b></label><br>
      {{ form.Desc(cols = "46",rows="3")}}  
    </p>
    </div>
    <p class = "Submit">
      <input type="submit" value="Add"> 
    </p>
  </form>
</div>

{% endblock %}
