{% extends "base.html" %}

<!--Will display completed tasks-->
{% block content %}
<div class = "ADD">

<a href="/" class="report">Report Symptoms</a>
<hr>
<a href="/add" class="tac">Add Location</a>
<hr>
<a href="/Uncompleted-Tasks" class="view">View Locations</a>
<hr>
<a href="/Uncompleted-Tasks" class="login">Log in/out</a>
<hr>
<a href="/Uncompleted-Tasks" class="setting">Settings</a>
<hr>
<a href="/Create" class="guide">View Government Guidelines</a>
</div>
<!--
<form action="#" method="post" name = "createtask">
    {{ form.hidden_tag() }}
    <div class="ac">
        <p class = "ctask">
          <label class = "labt"><b>Enter Street Name and House No.</b></label>
          {{ form.Task(size = 46,value= '')}} 
        </p>
        <p class = "area">
            <label class = "labarea"><b>Enter Postcode</b></label>
            {{ form.Area(size = 46,value= '')}} 
          </p>
    <p class = "desc">
      <label class = "labdesc"><b>Enter Description</b></label><br>
      {{ form.Desc(cols = "46",rows="3")}}  
    </p>
    </div>
    <p class = "Submit">
      <input type="submit" value="Add"> 
    </p>
  </form>
</div>
-->
{% endblock %}