{% extends "base.html" %} <!--Inheritance of base-->


<!--Task section includes form to post info-->
{% block content %}
<embed src="https://www.gov.uk/coronavirus" class="gov">
<!--<form action="#" method="post" name = "createtask">
  {{ form.hidden_tag() }}
  <div class="ac">
      <p class = "ctask">
        <label class = "labt"><b>Enter Task</b></label>
        {{ form.Task(size = 46,value= '')}} 
      </p>
  
  <p class = "desc">
    <label class = "labdesc"><b>Enter Description</b></label><br>
    {{ form.Desc(cols = "46",rows="3")}}  
  </p>
  </div>
  <p class = "Submit">
    <input type="submit" value="Add"> <!--Submit button to post info
  </p>
</form>-->
{% endblock %}
