{% extends "base.html" %}

<!--Will view Uncompleted tasks-->
{% block content %}
<div class="contain">
    
    <h2 class = "ti">Locations</h2>
    {% for item in uctasks %}       <!--Go through database-->
    <div class="unc">
        <p><b>Street Name:</b> {{item.task}}</p> 
        <hr>
        <p><b>PostCode: </b>{{item.area}}</p>
        <hr>
        <p><b> Description: </b>{{item.desc}}</p>
        <hr>
        <p><b>Time: </b> {{item.time}}</p>
        <br>
            <p>
            <div class = "right">
                <!--Button to delete location-->
                <a  class="btn btn-primary">Edit</a>
        <a href="/delete/{{item.id}}" class="btn btn-primary">Delete Location</a></div>
        </p>
    </div>
    {% endfor %}
    <br>
    
</div>
{% endblock %}