
/*  background, nav bar + title style  */
body {
    background-color: rgb(222, 243, 241);
}
background-color: rgb(216, 238, 231);
a:link,a:visited {
   color: rgb(255, 255, 255);
   font-size: 18px;
}

ul {
    background-color: rgb(67, 65, 78,.5);
    margin: 0;
   
}
.itemsingrid{
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    height: 600px;
    
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
}
.grid-item{
 
}
#ttable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size: 18px;
  }
#ttable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
#ttable td, #ttable th {
    border: 1px solid #ddd;
    padding: 8px;
}
#ttable tr:nth-child(even){
    background-color: #f2f2f2;
}
#ttable tr:nth-child(odd){
    background-color: #ffffff;
}
#ttable tr:hover {
    background-color: #ddd;
}
.c{
    margin: 0 auto;
    margin-top: 50px;
    width: 330px;
    
}
.userdetails {
    margin: auto;
    width: 380px;
    background-color: white;
    height: 330px;
}
.userdetails2 {
    margin: auto;
    width: 380px;
    background-color: white;
    height: 215px;
}
.addbutton{
    font-size: 18px;
    width: 352px;
    border: none;
    border-radius: 5px;
    height: 50px;
    background-color:  rgb(11, 184, 69);
    color: white;
}
.hidet{
    margin-left: 20%;
    width: 100;
    height: 50px;
}
.onetranscript{
    margin: 0 auto;
    width: 60%;
}
.inlinehide{
    display: inline-block;
}
.chec1{
    margin-top: -15px;
    display: inline-block;
}
.chec{
    margin-top: -50px;
    display: inline-block;
}
.userdetailsinner{
    text-align: left;
    position: absolute;
    margin:14px;
    margin-top: 18px;
}
.formadditems{
    margin: auto;
    margin-top: 100px;
    width: 380px;
    background-color: white;
    height: 280px;
}
/* Button position for Homepaage */
.wrapper {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}
.btn-primary{
    background-color: rgb(11, 184, 69)!important;
    width: 352px;
}
.create{
    background-color: blue!important;
    width: 352px;
}
/* Card style for completed and uncompleted tasks */
.contain{
    margin-top: 100px;
    background-color:rgb(76, 94, 89);
}
.removefromb{
    width: 100px;
}
.logo{
    display: inline-block;
}
.navbar{
    display: inline-block;
    width: 50%;
}
.navbarlogo{
    background-color:rgb(227, 238, 225);
}
.searchbutton{
    background-color: lightgray;
    color: black;
}
.signinnav{
    font-size: 14px;
    width: 120px;
}
.adminbuttons{
    position: absolute;
    top: 40%;
    left: 40%;
}
.additems , .deleteusers{
    width: 200px;
}

    .ti{
        text-align: center;
        justify-content: center;
        height: 40px;
        background-color: wheat;
        margin-bottom: 25px;
    }
    .unc{
        border-radius: 10px;
        margin: auto;
        margin: 20px;
        margin-bottom: -10px;
        padding: 10px 5px 5px 10px!important;
        align-self: center;
        background-color: rgb(238, 236, 195);
        word-wrap:break-word;
    }
    /* Button style and position for uncompleted tasks */
    
    .right{
        text-align: right;
        margin-top: -40px;
        margin-bottom: -10px;
    }


    /* Create a Task page style */
    .ac {
        border-radius: 10px;
        width: 450px;
        margin:0 auto;
        background-color: wheat;
        margin-top: 150px;
        text-align: center;
    }
    textarea + label {
        align-self: center;
    }
    label{
      margin-top: 5px;
    }
    .tasks{
        width: 450px;
    }
    .desc{
        margin-top: -10px;
        width: 450px;
    }
    .sub{
      position: relative;
     
    }
    .Submit{
      text-align: center;
      
    }