{% extends "base.html" %}

<!--2 buttons for admin, cange items stock or delete users-->
{% block content %}
<div class="changepassword">
    {{ form.hidden_tag() }}
    <h1 class = "cpasstitle">Change Password</h1>
    <div class ="userdetails">
        <div class = "userdetailsinner">
        {{ form.oldpassword(size= 35,placeholder= 'Username')}}
        <br><br>
        {{ form.newpassword(size = 35,placeholder= 'New Password')}}
        <br><br>
        {{ form.newpassword2(size = 35,placeholder= 'Verify New Password')}}
        <input type="submit" value="Update Password" class="updatepasswordbutton">
        <hr>
        <a href="/Create" class="btn btn-primary btn-lg active create" 
        role="button" 
        aria-pressed="true">Create Account
        </a>
        </div>
    </div>
    <br>
</div>
{% endblock %}