{% extends "base.html" %}

<!--2 buttons for admin, cange items stock or delete users-->
{% block content %}
<div class="adminbuttons">
    <a href="/Stock" class="btn btn-primary btn-lg active additems" 
        role="button" 
        aria-pressed="true">Add/Remove items
    </a>
    <br><br>
    <a href="/Create" class="btn btn-primary btn-lg active deleteusers" 
        role="button" 
        aria-pressed="true">Delete users
    </a>
</div>
{% endblock %}