<!DOCTYPE html>
<html>
  <head>
    <!--Bootstrap-->
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
     integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" 
     crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>No title</title>
    {% endif %}
  </head>
  <!--Navigation bar + Title for all webpages that are links-->
  <body>
    <!--<a href = "/" class = "maintitle"><h1>To Do List</h1></a>
    <ul class = "nav">
        <li class="nav-item">
          <a class="nav-link active" href="/Create"><b>Create a Task</b>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Completed-Tasks"><b>Completed Tasks</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Uncompleted-Tasks"><b>Uncompleted Tasks</b></a>
        </li>
    </ul>
    <!--Content below nav bar-->
    {% block content %}
    {% endblock %}
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
       crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" 
crossorigin="anonymous"></script>
  </body>
</html>