{% extends "base.html" %}


{% block content %}

{% for items in usernow.itemsthisuser %}
{{items.itemname}}
{{items.itemprice}}

<br>
{% endfor %}
<hr>
{{total}}
<hr>
<a href="/" class="btn btn-primary">Buy now</a></div>
{% endblock %}