{% extends "base.html" %}

<!--Will display completed tasks-->
{% block content %}
<div class="navbarlogo">
   <h1 class = "logo">Logo</h1>
   <nav class="navbar">
 
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success searchbutton" type="submit">Search</button>
    </form>
    </nav>
    <a href="/" class="btn btn-primary btn-lg active signinnav" 
        role="button" 
        aria-pressed="true">Sign in
    </a>
    <a href="/Basket" class="btn btn-primary btn-lg active signinnav" 
        role="button" 
        aria-pressed="true">Basket
    </a>
</div>
<div class="contain">
    <form action="/mark">
    <h2 class = "ti">All Items added</h2>
    {% for item in allitems %}  <!--Will go through database -->
    
    <div class="unc">
        <p><b>Name : {{item.itemname}}</b></p>  <!--View items and their details -->
        <hr>
        <p> Type : {{item.itemtype}}</p>
        <hr>
        <p>Price : {{item.itemprice}}</p>
        </p><hr>
        <a href="/addtobasket/{{item.id}}" class="btn btn-primary">buy</a></div>
    </div>
    <br>
        {% endfor %}
    </form>
</div>
{% endblock %}