{% extends "base.html" %}

{% block styles %}

{% endblock %}
<!--Sign in block-->
{% block content %}
<form action="#" method="post" name = "createtask">
{{ form.hidden_tag() }}
<div class="wrapper">
    <h1 class = "signintitle">S-Clothes</h1>
    <h3 class = "signinsentence">Please log-in or create an account</h3>
    <div class ="userdetails">
        <div class = "userdetailsinner">
        {{ form.username(size= 35,placeholder= 'Username')}}
        <br><br>
        {{ form.password(size = 35,placeholder= 'Password')}}
        <br><br>
        <input type="submit" value="Sign in" class="addbutton">
        <hr>
        <a href="/Create" class="btn btn-primary btn-lg active create" 
        role="button" 
        aria-pressed="true">Create Account
        </a>
        </div>
    </div>
    <br>
</div>
{% endblock %}