{% extends "base.html" %}

<!--Will display completed tasks-->
{% block content %}
<div class="formadditems">
    <form action="#" method="post" name = "createtask">
        {{ form.hidden_tag() }}
        <div class = "userdetailsinner">
            {{ form.itemname(size= 35,placeholder= 'Item name')}}
            <br><br>
            {{ form.itemtype(size = 35,placeholder= 'Item type')}}
            <br><br>
            {{ form.itemprice(size = 35,placeholder= 'Item type')}}
            <br><br>
            <input type="submit" value="Add item" class="addbutton">
</div>
<br>
<div class="contain">
    <form action="/mark">
    <h2 class = "ti">All Items added</h2>
    {% for item in allitems %}  <!--Will go through database -->
    
    <div class="unc">
        <p><b>Name : {{item.itemname}}</b></p>  <!--View items and their details -->
        <hr>
        <p> Type : {{item.itemtype}}</p>
        <hr>
        <p>Price : {{item.itemprice}}</p>
        </p>
    </div>
    <br>
        {% endfor %}
    </form>
</div>
{% endblock %}