<html>
  <head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/print.css">
    {% if title %}
    <title>University application - {{ title }}</title>
    {% else %}
    <title>University application</title>
    {% endif %}
    <style>
      ul#menu li {
          display:inline;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Students
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/students">View Students</a></li>
            <li><a href="/create_student">Create Student</a></li>
          </ul>
      </li>
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Modules
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/modules">View Modules</a></li>
            <li><a href="/create_module">Create Module</a></li>
          </ul>
      </li>
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Staff
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/staff">View Staff</a></li>
            <li><a href="/create_staff">Create Staff</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <li><a href="/"><span class="glyphicon glyphicon-remove"></span> </a></li>
</ul>
  </div>
</nav>
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        {% with messages = get_flashed_messages() %}
          {% if messages %}

            {% for message in messages %}
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>Error!</strong> {{ message }}
            </div>
            {% endfor %}

          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  </body>
</html>
