<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Create new Student</h1>
  <form action="" method="post" name="create">
      {{ form.hidden_tag() }}
      <p>
          Student:<br>
          {{ form.firstname(cols='80',class_='form-control') }}<br>
          {{ form.surname(cols='80',class_='form-control') }}<br>
          {{ form.year(class_='form-control') }}<br>
          {{ form.modules(class_='form-control') }}<br>
          {% for error in form.year.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p><input type="submit" class="btn btn-default" value="Create student"></p>
  </form>
{% endblock %}
