<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Edit Module</h1>
  <form action="" method="post" name="create">
      {{ form.hidden_tag() }}
      <p>
          Title: {{ form.title(class_='form-control') }}<br>
          {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          Staff: {{ form.staff(class_='form-control') }}<br>
          {% for error in form.staff.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          Students: {{ form.students(class_='form-control') }}<br>
          {% for error in form.students.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>

      </p>
      <p><input type="submit" value="Save"></p>
  </form>
{% endblock %}
