<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Edit staff</h1>
  <form action="" method="post" name="create">
      {{ form.hidden_tag() }}
      <p>
          Title: {{ form.title(class_='form-control') }}<br>
          {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          Firstname: {{ form.firstname(cols='80',class_='form-control') }}<br>
          {% for error in form.firstname.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          Surname: {{ form.surname(cols='80',class_='form-control') }}<br>
          {% for error in form.surname.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>

      </p>
      <p><input type="submit" class="btn btn-default" value="Save"></p>
  </form>
{% endblock %}
