{% extends "base.html" %}
{% block content %}
    <h1>University application</h1>
    <h2>Students</h2>
    <a href="/students"><button type="button" class="btn btn-primary">View Students</button></a>
    <a href="/create_student"><button type="button" class="btn btn-primary">Create Students</button></a>
    <h2>Modules</h2>
    <a href="/modules"><button type="button" class="btn btn-primary">View Modules</button></a>
    <a href="/create_modules"><button type="button" class="btn btn-primary">Create Modules</button></a>
    <h2>Staff</h2>
    <a href="/staff"><button type="button" class="btn btn-primary">View Staff</button></a>
    <a href="/create_staff"><button type="button" class="btn btn-primary">Create Staff</button></a>

{% endblock %}
