
/*  background, nav bar + title style  */
body {
    background-color: rgb(216, 238, 231);
}
a:link,a:visited {
   color: rgb(255, 255, 255);
   font-size: 18px;
}
ul {
    background-color: rgb(67, 65, 78,.5);
    margin: 0;
   
}
.userdetails {
    margin: auto;
    width: 380px;
    background-color: white;
    height: 280px;
}
.userdetails2 {
    margin: auto;
    width: 380px;
    background-color: white;
    height: 215px;
}
.addbutton{
    font-size: 18px;
    width: 352px;
    border: none;
    border-radius: 5px;
    height: 50px;
    background-color:  rgb(11, 184, 69);
    color: white;
}
.userdetailsinner{
    position: absolute;
    margin:14px;
    margin-top: 18px;
}
.formadditems{
    margin: auto;
    margin-top: 100px;
    width: 380px;
    background-color: white;
    height: 280px;
}
/* Button position for Homepaage */
.wrapper {
    text-align: center;
    margin-top: 10%;
}
.btn-primary{
    background-color: rgb(11, 184, 69)!important;
    width: 352px;
}
.create{
    background-color: blue!important;
    width: 352px;
}
/* Card style for completed and uncompleted tasks */
.contain{
    margin-top: 300px;
    background-color:rgb(76, 94, 89);
}
.logo{
    display: inline-block;
}
.navbar{
    display: inline-block;
    width: 50%;
}
.navbarlogo{
    background-color:rgb(76, 94, 89);
}
.searchbutton{
    background-color: lightgray;
    color: black;
}
.signinnav{
    font-size: 14px;
    width: 120px;
}
.adminbuttons{
    position: absolute;
    top: 40%;
    left: 40%;
}
.additems , .deleteusers{
    width: 200px;
}

    .ti{
        text-align: center;
        justify-content: center;
        height: 40px;
        background-color: wheat;
        margin-bottom: 25px;
    }
    .unc{
        border-radius: 10px;
        margin: auto;
        margin: 20px;
        margin-bottom: -10px;
        padding: 10px 5px 5px 10px!important;
        align-self: center;
        background-color: rgb(238, 236, 195);
        word-wrap:break-word;
    }
    /* Button style and position for uncompleted tasks */
    
    .right{
        text-align: right;
        margin-top: -40px;
        margin-bottom: -10px;
    }


    /* Create a Task page style */
    .ac {
        border-radius: 10px;
        width: 450px;
        margin:0 auto;
        background-color: wheat;
        margin-top: 150px;
        text-align: center;
    }
    textarea + label {
        align-self: center;
    }
    label{
      margin-top: 5px;
    }
    .tasks{
        width: 450px;
    }
    .desc{
        margin-top: -10px;
        width: 450px;
    }
    .sub{
      position: relative;
     
    }
    .Submit{
      text-align: center;
      
    }